.blogs {
    margin: 1% 3%;
}

.blogitem {
    padding: 1%;
    border: 1px solid grey;
    border-radius: 10px;
    cursor: pointer;
    max-width: 50vw;
    margin: 1% auto;
}

.blogitem:hover {
    border: 2px solid grey;
}